@import 'primeicons/primeicons.css';
/* @import '/assets/fonts/Inter-italic.var.woff2';
@import '/assets/fonts/Inter-roman.var.woff2'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  --primary-50: #f7f7fe;
  --primary-100: #dadafc;
  --primary-200: #bcbdf9;
  --primary-300: #9ea0f6;
  --primary-400: #8183f4;
  --primary-500: #6366f1;
  --primary-600: #5457cd;
  --primary-700: #4547a9;
  --primary-800: #363885;
  --primary-900: #282960;
  --surface-0: #ffffff;
  --surface-50: #f9fafb;
  --surface-100: #f3f4f6;
  --surface-200: #e5e7eb;
  --surface-300: #d1d5db;
  --surface-400: #9ca3af;
  --surface-500: #6b7280;
  --surface-600: #4b5563;
  --surface-700: #374151;
  --surface-800: #1f2937;
  --surface-900: #111827;
  --surface-ground: #f9fafb;
  --surface-section: #ffffff;
  --surface-border: #dfe7ef;
  --surface-hover: #f6f9fc;
  --surface-ground-dark: #111827;
  --surface-section-dark: #111827;
  --surface-border-dark: rgba(255, 255, 255, 0.1);
  --surface-hover-dark: rgba(255, 255, 255, 0.03);
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('../fonts/Inter-roman.var.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('../fonts/Inter-italic.var.woff2') format('woff2');
}
